@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply text-text-primary font-sans;
  background-color: #26262B;
}

body {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

