@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply text-text-primary;
  background-color: #26262B;
  font-family: var(--font-avenir-next), "Avenir Next", system-ui, sans-serif;
}

body {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

